div.hero.hero-lg.mb-3 {
  background-image: url('../../../src/img/hero.jpg')  !important;   
  background-repeat: no-repeat !important;
  background-size: cover  !important;
  background-attachment: scroll  !important;
}

@media screen and (min-width: 992px) {
  .miniHero {
    background-position-y: -150px;
  }
}



